{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.url }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<ul class="navbar-nav ml-auto">
    {% for entry in site.data.navigation %} {% if entry.url == current_page %} {%
    assign current = ' active' %} {% else %}
    <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
    {% assign current = null %} {% endif %} {% assign sublinks = entry.sublinks %}
    {% if sublinks %}
    <li class="nav-item dropdown {{ current }}">
      <a class="nav-link" href="{{ site.url }}{{ entry.url }}">{{ entry.title }} <span class="fa fa-angle-down"></span></a>
      <ul class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for sublink in sublinks %}
            <a class="dropdown-item" href="{{ site.url }}{{ sublink.url }}">{{ sublink.title }}</a>
          {% endfor %}
        </div>
      </ul>
    </li>
    {% else %}
    <li class="nav-item {{ current }}">
      <a class="nav-link" href="{{ site.url }}{{ entry.url }}">{{ entry.title }}</a>
    </li>
    {% endif %} {% endfor %}
  </ul>