<section class="w3l-homeblock2" id="photo-reel">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 align-self">

                </div>
                <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4">
                    <span class="text">My Photo Reels</span>
                    <h3 class="title-big">I love <span>traveling</span> and <span>photography</span></h3>
                    <p class="mt-4">I love traveling and always stay connected with nature. I usually do the following activities in my tours:</p>
					<div class="reward-list mt-5">
                        <div class="reward-item">
                            <div class="reward-item-photo"><img src="{{ site.url }}/assets/images/banner.png" alt="" class="img-fluid"></div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Watching the sunset</span>
                                <p class="reward-item-descr">For Best UX/UI Design App</p>
                            </div>
                        </div>
                        <div class="reward-item">
                            <div class="reward-item-photo"><img src="{{ site.url }}/assets/images/skills.png" alt="" class="img-fluid"></div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Trekking and camping</span>
                                <p class="reward-item-descr">For Most Loved Illustration </p>
                            </div>
                        </div>
                        <div class="reward-item">
                            <div class="reward-item-photo"><img src="{{ site.url }}/assets/images/banner.png" alt="" class="img-fluid"></div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Bike riding</span>
                                <p class="reward-item-descr">For Best UX/UI Project Design</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>