<div class="blog-sidebar mt-30">
    <div class="blog-search">
        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Search Keywords">
                <button type="button"><i class="far fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="blog-news white-bg mt-50">
        <div class="blog-title">
            <h3 class="title">Recent News</h3>
        </div>
{% for post in site.posts limit:5 %}
   <article>
      <h6 class="title"><a href="{{post.url}}">{{post.title}}</a></h6>
    </article>
{% end %}

    </div>
    <div class="blog-list white-bg mt-50">
        <div class="blog-title">
            <h3 class="title">Category</h3>
        </div>
        <div class="blog-list-item">
            <ul>
{% for category in site.categories %}
    <a href="/category/{{ category[0] | slugify }}/" class="post-tag">{{ category[0] }}</a>
    {% endfor %}
            </ul>
        </div>
    </div>
    <div class="blog-list white-bg mt-50">
        <div class="blog-title">
            <h3 class="title">Populer Tag</h3>
        </div>
        <div class="blog-tag text-capitalize">
            {% for tag in site.tags %}
    <a href="/tag/{{ tag[0] | slugify }}/" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
        </div>
    </div>
    <div class="blog-add-area mt-55">
        <img class="img-fluid" src="{{ "/assets/images/banner.png" | relative_url }}" alt="add">
        <div class="add-overlay">
            <h3 class="title">Work <br> Together</h3>
            <p>I’m open to any communication! Feel free to contact me.</p>
            <a class="main-btn main-btn-2" href="/contact-me/">Contact Now <i class="fal fa-angle-double-right"></i></a>
        </div>
    </div>
</div>