---
layout: archive
title: Category Page
pagination:
  enabled: true
---
<!DOCTYPE html>
<html lang="en">
<head>
{% include meta_tags/base.html %}
{% include css.html %}
</head>
<body>
<div class="wrapper">
{% include header.html %}
{% include side-modal.html %}
<section id="home" class="w3l-banner pb-5">
	<div class="container pb-md-3 pt-5">
		<div class="row">
			<div class="col-md-8">

  {% for post in paginator.posts %}
<div class="blog-item mt-30">
                {% if post.post_image %}
                <div class="blog-thumb">
                    <a href="{{post.url}}"><img class="img-fluid" src="{{ post.post_image | relative_url }}" alt="{{post.title}}"></a>
                </div>
                {% endif %}
                <div class="blog-content">
				<p class="post-title__subtitle"><i class="far fa-calendar-alt"></i> Published {{ post.date | date: "%e %b, 20%y" }} {% if post.updated %} (Updated {{ post.updated | date: "%e %b, 20%y" }}) {% endif %} by <i class="fas fa-user"></i> {% if post.author.name %} <a href="{{ post.author.homepage }}" target="_blank">{{ post.author.name }}</a>{% else %}<a href="{{ site.author.homepage }}" target="_blank">{{ site.author.name }}</a>{% endif %}{% if post.pin %} • Pinned ⭐{% endif %}</p>
                    <br/>
					<h3 class="title"><a href="{{post.url}}">{{post.title}}</a></h3>
					<br/>
                    <p>{{post.excerpt | strip_html | truncatewords: "25"}}</p>
                    <a href="{{post.url}}">View Details <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
{% endfor %}

<div class="row">
<div class="col-md-12">
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</div>
</div>

</div>
				<div class="col-md-4">
				{% include sidebar.html %}
				</div>
			</div>
		</div>
	</section>

{% include footer.html %}
{% include js.html %}
</div>
</body>
</html>