---
layout: default
---
<!-- Just some nice to have styles for the pager buttons -->
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
</style>

<div class="home">

  <h1 class="page-heading">AutoPage for Tag <b>{% if page.autopages %}{{page.autopages.display_name}}{% endif %}</b> Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}</h1>
  
  This page is automagically created and paginated for each tag available in the posts on this site

  {{ content | markdownify }}

  <ul class="post-list">
    <!-- 
        Here is the main paginator logic called.
        All calls to site.posts should be replaced by paginator.posts 
    -->
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.book.rank %} | Rank: {{ post.book.rank }}{% endif %}{% if post.collection %} | {{ post.collection }}{% endif %}{% if post.tags %}<br>Tags: {{ post.tags }}{% endif %}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  
<nav class="pt-5" aria-label="...">
  <ul class="pagination">
  {%- if paginator.page_trail -%}

    {% if paginator.page > 2 -%}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">Start</a>
    </li>
    {%- endif -%}

    {%- if paginator.previous_page -%}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Back</a>
    </li>
    {%- endif -%}

    {%- if paginator.page_trail -%}
      {%- for trail in paginator.page_trail -%}
        <li class="page-item">
          <a class="page-link" href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}" {%- if paginator.page == trail.num -%}class="active"{%- endif -%}>{{ trail.num }}</a>
        </li>
      {%- endfor -%}
    {%- endif -%}

    {%- if paginator.next_page -%}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
    </li>
    {%- endif -%}

    {%- assign notNearEnd = paginator.page | plus:1 -%}
    {%- if notNearEnd < paginator.total_pages  -%}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">Last</a>
    </li>
    {%- endif -%}
  {%- endif -%}
  </ul>
</nav>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>